{% include 'layout.html' %}


{% block content %}

{#    <h1>ProMan</h1>#}
    <div class="container-fluid">
        <h1 class="container-fluid">ProMan</h1>
        <div class="container-fluid">
{#            <a class="btn btn-secondary" href="#" role="button">Create new board</a>#}
            <button id="create-board" type="button" class="btn btn-dark" data-toggle="modal" data-target="#modal-new-board">Create new board</button>
        </div>
    </div>
    <div id="boards">Boards are loading...</div>

    {% include 'modal.html' %}

{% endblock %}